/**
 *
 * Main stylesheet for Powerange.
 * http://abpetkov.github.io/powerange/
 *
 */

/**
 * Horizontal slider style (default).
 */

.range-bar {
  background-color: #a9acb1;
  border-radius: 15px;
  display: block;
  height: 4px;
  position: relative;
  width: 100%;
}

.range-quantity {
  background-color: #FFC000;
  border-radius: 15px;
  display: block;
  height: 100%;
  width: 0;
}

.range-handle {
     background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    cursor: move;
    height: 15px;
    left: 0;
    position: absolute;
    top: -7px;
    width: 19px;
}

.range-min,
.range-max {
  color: #fff;
  font-size: 12px;
  height: 20px;
  padding-top: 4px;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 24px;
}

.range-min {
  left: -30px;
}

.range-max {
  right: -30px;
}

/**
 * Vertical slider style.
 */

.vertical {
  height: 100%;
  width: 4px;
}

.vertical .range-quantity {
  bottom: 0;
  height: 0;
  position: absolute;
  width: 100%;
}

.vertical .range-handle {
  bottom: 0;
  left: -13px;
  top: auto;
}

.vertical .range-min,
.vertical .range-max {
  left: -10px;
  right: auto;
  top: auto;
}

.vertical .range-min {
  bottom: -30px;
}

.vertical .range-max {
  top: -30px;
}

/**
 * Style for disabling text selection on handle move.
 */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Style for handle cursor on disabled slider.
 */

.range-disabled {
  cursor: default;
}


.slider-wrapper {
  
    width: 60%;
    border: 1px solid red;
}

.containerration {
 
  width: 100%;
    border: 1px solid red;
}

    .js-decimal {
      background-color: #003f6f;
 
    border-radius: 5px;
    box-shadow: none !important;
    color: #fff !important;
    display: inline !important;
    float: left !important;
    font-size: 0.8em;
    position: relative !important;
    right: 38px !important;
    top: -12px !important;
    width: 26px !important;
    z-index: 999 !important;
  }

.dollersign {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    float: left;
    position: relative;
    right: 14%;
    top: -6px;
    width: 4%;
    z-index: 9999 !important;
}
