
@font-face {
    font-family: 'nexa_light';
    src: url('../fonts/nexa_light.woff2') format('woff2'),
    url('../fonts/nexa_light.woff') format('woff'),
    url('../fonts/Nexa Light.otf'),
    url('../fonts/Nexa Bold.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_bold';
    src: url('../fonts/nexa_bold.woff2') format('woff2'),
         url('../fonts/nexa_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal; 

}

body {
    margin: 0;
}

.header-div {
 
    height: 48px;
    background:#003F6F;
    
}

.head-text
{
   float: left;
    margin-left: 67px;
    margin-top: 10px;
    width: 60%;
}

.head-text2
{
float: left;
margin-top: 15px;
width: 77%;
}

.head-text > h1 {
    color: #fff;
    font-family: nexa_bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
      text-align: center;
}


.head-text2 > h1 {
    color: #fff;
    font-family: nexa_bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
      text-align: center;
}
.page_notice {
    float: left;
    width: 25px;
}
.page_filter {
    float: left;
       
    width: 19px;
}

.notification {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.notification > img {
    width: 100%;
}
.filter_img {
    float: left;
    margin-top: 12px;
    padding-top: 1px;
    width: 100%;
}
.filter_img > img {
    width: 100%;
}

.spacediv {
    border: 2px solid #fff;
}


#searchlop {
    
     height: 168px;
    overflow: auto;
}
}
.content-part:nth-child(1) {
    margin-top: 0;
}
.top-of-content {
    float: left;
    text-align: right;
    width: 100%;
}

.middel-part {
    float: left;
    margin-top: 96px;
    position: absolute;
    width: 100%;
}
.left-part-middel {
     float: left;
    margin-left: 12px;
 
    width: 50%;
}

.discover-content {
 
    clear: left;
}
.text-part-left h1 {
      font-family: helvetica;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
     color: #fff;
}


.content-part {
     
    overflow: auto;
}

#divLoading.show
{
   background-color: #fff;
    background-image: url("../img/loading7_light_blue.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 27% auto;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

 
 


.categories-append {
    font-family: helvetica;
    font-size: 16px;
     color: #fff;
    font-weight: initial;
    margin: 0;
}
   



.login-backbtn img {
    margin-left: 10px;
    transform: rotate(180deg);
    width: 29px;
}

.login-backbtn {
   
    margin-top: 10px;
}  

.login-backbtn2 img {
    margin-left: 10px;
    transform: rotate(180deg);
   width: 22px;
}

.login-backbtn2 {
   float: left;
    margin-top: 10px;
}   


.content-part > img {
    float: left;
    width: 100%;
     height: 168px;
}


 

.text-right-part {
    float: right;
     margin-top: 48px;
  
}


.text-right-part > h1 {
    font-family: helvetica;
    font-size: 14px;
    margin: 0 26px 0 0;
       color: #fff;
}



.rating > img {
    width: 100%;
}

.rating {
   
    width: 53%;
}

.round-count {
    margin-left: 9px;
    color: #fff;
}

.countratinga {
    display: inline-flex;
}


.filter_img img {
     width: 85%;
}



.loginhome-page {
    display: none;
}
/*  search page */



body {
    background: #003f6f none repeat scroll 0 0;
    margin: 0;
}

#must-agree
{display: none;
}

body.show1 {
      background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: #fff !important;
    background-image: url("../img/loading7_light_blue.gif");
    background-origin: padding-box !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34% auto;
    position: sticky;
    z-index: 9999 !important;
 
   
 
}

.detailphe-img > img {
    width: 100%;
    float: left;
     height: 168px;
}

 
 .left-prt {
    float: left;
    text-align: center;
    width: 50%;
    color:#fff;
    padding-bottom: 5px;
       font-size: 20px;
        border-bottom: 1px solid #224765;
}
.right-prt {
    float: right;
    text-align: center;
    width: 50%;
    color:#fff;
    padding-bottom: 5px;
       font-size: 20px;
        border-bottom: 1px solid #224765;
}

.bottom-header-part {
     padding-top: 8px;
    overflow: auto;
}

.detail-pge-bottom {
    clear: both;
}
.page-decription {
    border-bottom: 1px solid #224765;
    color: #fff;
    margin-top: 5px;
    padding: 8px;
}

.right-rate {
    float: left;
    width: 50%;
}


.right-rate-price {
    float: right;
    width: 50%;
    text-align: right;
}

.left-cate {
  float: left;
    width: 50%;
}


.right-cate
{
     float: right;
    width: 50%;
    text-align: right;   
}


.pagecerleft
{

    float: left;
    width: 50%;  
}

.pagecerright
{
       float: right;
    width: 50%;
    text-align: right;   

}



.pagecerleft > p {
    color: #fff;
    font-size: 20px;
}
.pagecerright > p {
    color: #fff;
    font-size: 20px;
}














.page-detail-rate {
   border-bottom: 1px solid #224765;
    margin-top: 5px;
    overflow: auto;
  padding: 5px 13px;
}

.page-detail-categries
{
    border-bottom: 1px solid #224765;
    margin-top: 5px;
    overflow: auto;
    padding: 5px 13px;
}

.page-certification
{
     border-bottom: 1px solid #224765;
    margin-top: 5px;
    overflow: auto;
    padding: 5px 13px;

}



.right-rate > p {
    color: #fff;
    font-size: 20px;
}
.right-rate-price> p {
    color: #fff;
    font-size: 17px;
}


.right-cate > p 
{
    color: #fff;
    font-size: 20px;
}



.left-cate > p
{
  color: #fff;
    font-size: 20px;

}

.detail-pge > h1 {
color: #fff;
font-family: helvetica;
font-size: 23px;
font-weight: normal;
margin: 0;
float: left;
}


   /* background-image:url("../img/transparency.png");*/
.detail-pge {
    background:rgba(0, 0, 0, 0) linear-gradient(#d5d5d5, #2e2e2e) repeat scroll 0 0;
    margin-top: 171px;
    padding: 8px 15px;
    position: absolute;
    top: 0;
    width: 100%;
      opacity: 0.62;
}


#booknow {
   background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    bottom: 0;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}


.bmd-main-btn3flog2 {
    margin-top: 20px;
  
}


 


.right-prt.addlassbar {
    border-bottom: 1px solid #FE9A00;
}


.left-prt.addlassbar {
    border-bottom: 1px solid #FE9A00;
}
.slide2 {
  
    display: none;
    margin-top: 0px;
    padding: 0 14px;
    height: 238px;
    overflow: scroll;
}

.cateratingab {
    float: right;
    margin-right: 0;
    margin-top: 9px;
    overflow: auto;
    width: 32%;
}

.cateratingab img {
     float: left;
    margin-right: 9px;
    margin-top: 4px;
    width:70%;
}

.page-decription > p {
    color: #efefef;
    font-family: helvetica;
    font-size: 15px;
    font-weight: normal;
}


.titalrating {
    color: #fff;
  
}

.categoriesdetl-page p {
    margin: 0;
}
.categoriesdetl-page {
 
    color: #fff;
}
.rating-review img {
    width: 67px;
}

.reviewpagediv {
    margin-bottom: 11px;
}

.rated-namediv > p {
    color: #999999;
    font-family: helvetica;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.decriptiondiv > p {
    color: #ececec;
}


.detailphe-img {
    
    overflow: auto;
}

.package-order-div
{
    display: none;
}

.login-backbtn4 {
    float: left;
    margin-top: 10px;
}

.login-backbtn4 img {
    margin-left: 10px;
    transform: rotate(180deg);
    width: 22px;
}

.first-calender-div {
   
    margin: auto;
    overflow: auto;
    width: 70%;
}  


.first-calender-div > label {
    color: #fff;
    float: left;
    font-size: 20px;
}


 
.order-inner-part {
 
    margin-top: 15px;
}


 


#right-div-span {
    float: right;
    width: 65%;
}






.second-calender-div {
    margin: auto;
    overflow: auto;
        margin: 41px auto auto;
    width: 70%;
}   


.second-span-date > label {
    color: #fff;
    float: left;
    font-size: 21px;
}




.head-text2 > h1 {
    font-family: helvetica;
    font-size: 15px;
}

#second-div-span {
    float: left;
    margin-left: 25px;
    text-align: left;
    width: 50%;
}
#basicExample{


  background-color: #003f6f;
    background-image: url("../img/down-chevron.png");
    background-position: 87px center;
    background-repeat: no-repeat;
    background-size: 13% auto;
    border: 1px solid #2169af !important;
    border-radius: 5px;
    color: #cecece !important;
    font-size: 16px !important;
    opacity: 0.72;
       padding-left: 10px !important;
    width: 100%;



}

 

 .second-calender-div > label{
  color: #fff;
    float: left;
    font-size: 21px;

 }


 .localtion-field-div {
    margin: 34px auto auto;
    overflow: auto;
    width: 70%;
}


.lcoaltion-text > p {
    color: #fff;
    font-size: 20px;
}


.lcaltionbtn1 {
    float: left;
    margin-right: 15px;
}

.lcaltionbtn2 {
    float: left;
    margin-right: 15px;
}

.inputtype-text > p {
  color: #fff;
    font-size: 19px;
    opacity: 0.72;
}


.class-type-div {
    margin: 29px auto auto;
    overflow: auto;
    width: 70%;
}


.class-tyle-text > p {
    color: #fff;
    font-size: 20px;
}

.leftclass-div-txt {
    float: left;
    width: 50%;
}


.rightclass-div-txt {
    float: right;
    width: 50%;
}
.leftclass-div-txt > span {
    color: #9c9c9c;
    position: relative;
    top: -4px;
      font-size: 19px;
}

.leftclass-div-txt > label {
    margin-right: 10px;
}


.rightclass-div-txt > span
{
   color: #9c9c9c;
    position: relative;
    top: -4px;  
      font-size: 19px;
}

.rightclass-div-txt > label
{
     margin-right: 10px;

}



#checkout {
    background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    bottom: 0;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.lcoaltion-text {
    margin-bottom: 18px;
}

.class-tyle-text {
 
    margin-bottom: 16px;
}

.hasDatepicker {
  background-color: #003f6f;
    background-image: url("../img/down-chevron.png");
    background-position: 120px center;
    background-repeat: no-repeat;
    background-size: 9% auto;
    border: 1px solid #2169af !important;
    border-radius: 5px;
    color: #cecece !important;
    font-size: 16px !important;
    opacity: 0.72;
       padding-left: 10px !important;
    width: 100%;
}

 