
@font-face {
    font-family: 'nexa_light';
    src: url('../fonts/nexa_light.woff2') format('woff2'),
    url('../fonts/nexa_light.woff') format('woff'),
    url('../fonts/Nexa Light.otf'),
    url('../fonts/Nexa Bold.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_bold';
    src: url('../fonts/nexa_bold.woff2') format('woff2'),
         url('../fonts/nexa_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal; 

}

body {
    margin: 0;
}

.header-div {
 
    height: 48px;
    background:#003F6F;
    
}

.head-text
{
   float: left;
    margin-left: 64px;
    margin-top: 10px;
    width: 60%;
}

.head-text2
{
float: left;
margin-top: 13px;
width: 77%;
}

.head-text > h1 {
    color: #fff;
    font-family: nexa_bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
      text-align: center;
}


.head-text2 > h1 {
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 0 10px;
      text-align: center;
}
.page_notice {
    float: left;
    width: 25px;
}
.page_filter {
    float: left;
       
    width: 19px;
}

.notification {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.notification > img {
    width: 100%;
}
.filter_img {
    float: left;
    margin-top: 12px;
    padding-top: 1px;
    width: 100%;
}
.filter_img > img {
    width: 100%;
}

.spacediv {
    border: 2px solid #fff;
}


#searchlop {
    
     height: 168px;
    overflow: auto;
}

#searchlop2 {
    
     height: 168px;
    overflow: auto;
}


}
.content-part:nth-child(1) {
    margin-top: 0;
}


.middel-part {
    float: left;
    margin-top: 96px;
    position: absolute;
    width: 100%;
}
.left-part-middel {
     float: left;
    margin-left: 12px;
 
    width: 50%;
}

.discover-content {
 
    clear: left;
}
.text-part-left h1 {
      font-family: helvetica;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
     color: #fff;
}

 

#divLoading.show
{
   background-color: #fff;
    background-image: url("../img/loading7_light_blue.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 27% auto;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

 
 


.categories-append {
    font-family: helvetica;
    font-size: 16px;
     color: #fff;
    font-weight: initial;
    margin: 0;
}
   



.login-backbtn img {
    margin-left: 10px;
    transform: rotate(180deg);
    width: 24px;
}

.login-backbtn {
   
  margin-top: 10px;  
}  

#totalbooking
{
  
  float: initial;
    border-radius: 10px;
    font-size: 10px;
    font-weight: normal;
    
}



.login-backbtncal img {
    margin-left: 10px;
    transform: rotate(180deg);
    width: 23px;
}

.login-backbtncal {
   
 
}


.login-backbtn2 img {
    margin-left: 10px;
    transform: rotate(180deg);
   width: 22px;
}

/*.login-backbtn2user img {
    margin-left: 10px;
    transform: rotate(180deg);
   width: 22px;
}
*/
.userheadser {
    
    overflow: auto;
     padding-top: 4px;
}

.login-backbtn2user {
     
    float: left;
    width: 10%;
}


.login-backbtn2user img {
 
    width: 100%;
     transform: rotate(180deg);
    width: 29px;
     margin-left: 5px;
}



.login-backbtn2 {
   float: left;
    margin-top: 10px;
}   


.content-part > img {
    float: left;
    width: 100%;
     height: 168px;
}


.content-part2 > img {
    float: left;
    height: 168px;
    width: 100%;
}

 

.text-right-part {
    float: right;
     margin-top: 48px;
  
}


.text-right-part > h1 {
    font-family: helvetica;
    font-size: 14px;
    margin: 0 26px 0 0;
       color: #fff;
}



.rating > img {
    width: 100%;
}

.rating {
   
    width: 53%;
}

.round-count {
    margin-left: 9px;
    color: #fff;
}

.countratinga {
    display: inline-flex;
}


.filter_img img {
     width: 85%;
}



.loginhome-page {
    display: none;
}
/*  search page */



body {
    background: #003f6f none repeat scroll 0 0;
    margin: 0;
}

#must-agree
{display: none;
}

body.show1 {
      background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: #fff !important;
    background-image: url("../img/loading7_light_blue.gif");
    background-origin: padding-box !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34% auto;
    position: sticky;
    z-index: 9999 !important;
 
   
 
}

.detailphe-img > img {
    width: 100%;
    float: left;
     height: 168px;
}

 
 .left-prt {
    float: left;
    text-align: center;
    width: 50%;
    color:#fff;
    padding-bottom: 5px;
       font-size: 20px;
        border-bottom: 1px solid #224765;
}
.right-prt {
    float: right;
    text-align: center;
    width: 50%;
    color:#fff;
    padding-bottom: 5px;
       font-size: 20px;
        border-bottom: 1px solid #224765;
}

.bottom-header-part {
     padding-top: 8px;
    overflow: auto;
}

.detail-pge-bottom {
    clear: both;
}
.page-decription {
    border-bottom: 1px solid #224765;
    color: #fff;
    margin-top: 5px;
    padding: 8px;
}

.right-rate {
    float: left;
    width: 50%;
}


.right-rate-price {
    float: right;
    width: 50%;
    text-align: right;
}

.left-cate {
  float: left;
    width: 50%;
}


.right-cate
{
     float: right;
    width: 50%;
    text-align: right;   
}


.pagecerleft
{

    float: left;
    width: 50%;  
}

.pagecerright
{
       float: right;
    width: 50%;
    text-align: right;   

}



.pagecerleft > p {
    color: #fff;
    font-size: 20px;
}
.pagecerright > p {
    color: #fff;
    font-size: 20px;
}














.page-detail-rate {
   border-bottom: 1px solid #224765;
    margin-top: 5px;
    overflow: auto;
  padding: 5px 13px;
}

.page-detail-categries
{
    border-bottom: 1px solid #224765;
    margin-top: 5px;
    overflow: auto;
    padding: 5px 13px;
}

.page-certification
{
     border-bottom: 1px solid #224765;
    margin-top: 5px;
    overflow: auto;
    padding: 5px 13px;

}



.right-rate > p {
    color: #fff;
    font-size: 20px;
}
.right-rate-price> p {
    color: #fff;
    font-size: 17px;
}


.right-cate > p 
{
    color: #fff;
    font-size: 20px;
}



.left-cate > p
{
  color: #fff;
    font-size: 20px;

}

.detail-pge > h1 {
color: #fff;
font-family: helvetica;
font-size: 23px;
font-weight: normal;
margin: 0;
float: left;
}


   /* background-image:url("../img/transparency.png");*/
.detail-pge {
    background:rgba(0, 0, 0, 0) linear-gradient(#d5d5d5, #2e2e2e) repeat scroll 0 0;
    margin-top: 171px;
    padding: 8px 15px;
    position: absolute;
    top: 0;
    width: 100%;
      opacity: 0.62;
}


#booknow {
   background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    bottom: 0;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}


.bmd-main-btn3flog2 {
    margin-top: 20px;
  
}


 


.right-prt.addlassbar {
    border-bottom: 1px solid #FE9A00;
}


.left-prt.addlassbar {
    border-bottom: 1px solid #FE9A00;
}
.slide2 {
  
    display: none;
    margin-top: 0px;
    padding: 0 14px;
    height: 238px;
    overflow: scroll;
}

.cateratingab {
    float: right;
    margin-right: 0;
    margin-top: 9px;
    overflow: auto;
    width: 32%;
}

.cateratingab img {
     float: left;
    margin-right: 9px;
    margin-top: 4px;
    width:70%;
}

.page-decription > p {
    color: #efefef;
    font-family: helvetica;
    font-size: 15px;
    font-weight: normal;
}


.titalrating {
    color: #fff;
  
}

.categoriesdetl-page p {
    margin: 0;
}
.categoriesdetl-page {
 
    color: #fff;
}
.rating-review img {
    width: 67px;
}

.reviewpagediv {
    margin-bottom: 11px;
}

.rated-namediv > p {
    color: #999999;
    font-family: helvetica;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.decriptiondiv > p {
    color: #ececec;
}


.detailphe-img {
    
    overflow: auto;
}

.package-order-div
{
    display: none;
}

.login-backbtn4 {
    float: left;
    margin-top: 10px;
}

.login-backbtn4 img {
    margin-left: 10px;
    transform: rotate(180deg);
    width: 22px;
}

.first-calender-div {
   
    margin: auto;
    overflow: auto;
    width: 70%;
}  


.first-calender-div > label {
    color: #fff;
    float: left;
    font-size: 20px;
}


 
.order-inner-part {
 
    margin-top: 15px;
}


 


#right-div-span {
    float: right;
    width: 65%;
}






.second-calender-div {
    margin: auto;
    overflow: auto;
        margin: 41px auto auto;
    width: 70%;
}   


.second-span-date > label {
    color: #fff;
    float: left;
    font-size: 21px;
}




.head-text2 > h1 {
      font-family: nexa_bold;
    font-size: 18px;
}

#second-div-span {
    float: left;
    margin-left: 25px;
    text-align: left;
    width: 50%;
}
#basicExample{


  background-color: #003f6f;
    background-image: url("../img/down-chevron.png");
    background-position: 87px center;
    background-repeat: no-repeat;
    background-size: 13% auto;
    border: 1px solid #2169af;
    border-radius: 5px;
    color: #cecece !important;
    font-size: 16px !important;
    opacity: 0.72;
       padding-left: 10px !important;
    width: 100%;



}

.lcoaltio-btn1 {
   
    overflow: auto;
      margin-bottom: 7px;
}

.inputtype-text {
    float: left;
}
 

 .second-calender-div > label{
  color: #fff;
    float: left;
    font-size: 21px;

 }


 .localtion-field-div {
    margin: 34px auto auto;
    overflow: auto;
    width: 70%;
}


.lcoaltion-text > p {
    color: #fff;
    font-size: 20px;
}


.lcaltionbtn1 {
    float: left;
    margin-right: 15px;
      margin-top: 7px;
}

.lcaltionbtn2 {
    float: left;
    margin-right: 15px;
      margin-top: 7px;
}

.inputtype-text > p {
  color: #fff;
    font-size: 19px;
    opacity: 0.72;
}


.class-type-div {
    margin: 19px auto auto 48px;
    overflow: auto;
    width: 80%;
}
.user-profilepage .userheadser h1
{
     float: left;
    width: 80%;
}

.package-order-div input[type="radio"] {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 20px;
    box-shadow: none;
    outline: medium none;
    width: 20px;
}


.class-tyle-text > p {
    color: #fff;
    font-size: 20px;
}

.leftclass-div-txt {
    float: left;
    width: 50%;
}


.rightclass-div-txt {
    float: right;
    width: 50%;
}
.leftclass-div-txt > span {
    color: #9c9c9c;
    position: relative;
    top: -4px;
      font-size: 19px;
}

.leftclass-div-txt > label {
    margin-right: 10px;
}


.rightclass-div-txt > span
{
   color: #9c9c9c;
    position: relative;
    top: -4px;  
      font-size: 19px;
}

.rightclass-div-txt > label
{
     margin-right: 10px;

}



#checkout {
    background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    bottom: 0;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.lcoaltion-text {
       margin-bottom: 21px;
}

.class-tyle-text {
 
    margin-bottom: 21px;
}

.hasDatepicker {
  background-color: #003f6f;
    background-image: url("../img/down-chevron.png");
    background-position: 120px center;
    background-repeat: no-repeat;
    background-size: 9% auto;
    border: 1px solid #2169af !important;
    border-radius: 5px;
    color: #cecece !important;
    font-size: 16px !important;
    opacity: 0.72;
       padding-left: 10px !important;
    width: 100%;
}


.booking-calender .hasDatepicker {
  background-color: none;
    background-image: url("../img/down-chevron.png");
    background-position: 0;
    background-repeat: 0;
    background-size: 0% auto;
    border: 0px solid #2169af !important;
    border-radius: 0px;
    color: none !important;
    font-size: 16px !important;
    opacity: 0.72;
       padding-left: 10px !important;
    width: 100%;
 
     background-color: #fff;
}





.user-profilepage .button .icon::before, .button.icon::before, .button.icon-left::before, .button.icon-right::before {
    display: inline-block;
    font-size: 32px !important;
    line-height: 28px !important;
    padding: 0 0 1px !important;
    pointer-events: none !important;
    vertical-align: inherit !important;
}


#donebtn {
    background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    bottom: 0;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}

 .search-page
 {
    display: none;
 }
 .backgroundadd
 {

        background: #fff none repeat scroll 0 0;
 }


 .middel-part2 {
    background: rgba(0, 0, 0, 0) linear-gradient(#d5d5d5, #2e2e2e) repeat scroll 0 0;
    float: left;
    margin-top: 99px;
    opacity: 0.62;
    width: 100%;
     position: absolute;
}


.left-part-middel2 {
    float: left;
     margin-left: 12px;
    width: 50%;
}

.text-part-left2 {
    float: left;
    padding-left: 10px;
    width: 100%;
}

.text-part-left2 h1 {
  color: #fff;
    font-family: helvetica;
    font-size: 23px;
    font-weight: normal;
    margin: 0;
    text-align: left;
}

.text-part-left2 p {
    font-family: helvetica;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    color:#fff;
}

.text-right-part2 {
    float: left;
    text-align: right;
    width: 46%;
}

.text-right-part2 > h1 {
    color: #fff;
    font-family: helvetica;
    font-size: 14px;
    margin: 0 26px 0 0;
}
.selecedpayrate{display: none}


.rating21 {
    width: 53%;
}
.rating21 > img {
    width: 100%;
}
.round-count21 {
    color: #fff;
    margin-left: 9px;
}

 

 #newsearch {
    background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    bottom: 0;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.con-middel-part {
     
    margin-top: 33%;
}
.congratulation-div
{
    display: none;
}

.con-check-div {
    text-align: center;
 
}

.con-text-div {
 
 
   margin-bottom: 18px;
 margin-top: 22px;
    text-align: center;
}

.con-check-div > img {
    width: 28%;
}
.con-text-div > h3 {
      color: #C0C7CF;
       font-family: helvetica;
        font-size: 20px;
         
    }

.con-pata-div > h3 {
    color: #C0C7CF;
    text-align: center;
   font-size: 18px;
     font-family: helvetica;
    
}

.con-text-last {
    text-align: center;

     margin-top: 19px;
}



 .dateformetting {
    color: #fff;
}
.booktime {
    color: #fff;
}
.con-text-last > h3 {
        color: #C0C7CF;
        font-size: 20px;
         font-family: helvetica;
}
.con-text-mid {
    padding-left: 20px;
    padding-right: 20px;
}
.con-text-mid {
    padding-left: 22px;
    padding-right: 22px;
}

.erroeclass
{

     border: 1px solid red !important;
     overflow: auto;
}

.con-email-fld span {
    
    margin-left: 11px;
    
}

.con-email-fld img {
     
    position: relative;
    top: 11px;
    width: 12%;
}

.con-email-fld {
    text-align: center;
      border: 1px solid #fe9a00;
    margin-top: 98px;
}

.con-email-fld > h3 {
   
    color: #fff;
    font-family: helvetica;
    font-size: 17px;
}

.userimagte > img {
    border-radius: 68px;
    clear: left;
    height: 93px;
    overflow: initial;
    width: 100%;
}

.userimagte {
 
    margin: 0 auto;
     margin: 47px auto 0;
    text-align: center;
    width: 30%;
}


/*.userheadser {
    float: left;
 
    margin-top: 10px;
    width: 100%;
}*/

.userheadser > h1 {
    color: #fff;
    font-family: nexa_bold;
    font-size: 18px;
    letter-spacing: 1px;
 margin: 9px 0 0;
    text-align: center;
}

.userimagte-name > h3 {
 color: #fff;
    float: right;
    font-size: 20px;
    margin: 0;
    text-align: right;
    width: 61%;
}

.user-age > h3
{
 color: #fff;
    float: right;
    font-size: 20px;
    margin: 0;
    text-align: right;
    width: 61%;

}

.user-location > h3 {
  color: #fff;
    float: right;
    font-size: 20px;
    margin: 0;
    text-align: right;
    width: 61%;
}
.user-EMAIL > h3
{
 color: #fff;
    float: right;
    font-size: 20px;
    margin: 0;
    text-align: right;
    width: 61%;

}
.user-phone > h3
{
   color: #fff;
    float: right;
    font-size: 20px;
    margin: 0;
    text-align: right;
    width: 61%;
}

.user-zip > h3
{
  color: #fff;
    float: right;
    font-size: 20px;
    margin: 0;
    text-align: right;
    width: 61%;
}

.user-preferance > h3
{
   color: #fff;
    float: right;
    font-size: 20px;
    margin: 0;
    text-align: right;
    width: 61%;
}
.userimagte-name > span {
    float: left;
      color: #fff;
     font-size: 20px;
        width: 35%;
}

.user-phone > span {
    float: left;
      color: #fff;
     font-size: 20px;
        width: 35%;
}

.user-preferance > span {
    float: left;
      color: #fff;
     font-size: 20px;
        width: 35%;
}

.user-zip > span {
    float: left;
      color: #fff;
     font-size: 20px;
        width: 35%;
}

.user-EMAIL > span {
    float: left;
          color: #fff;
     font-size: 20px;
        width: 35%;
    

}

.user-location > span {
    float: left;
          color: #fff;
     font-size: 20px;
        width: 35%;
}
.innercontainer-userpro {
    padding-left: 20px;
    padding-right: 20px;
}

.inner-container
{

    background-color: #15314C;
     overflow: auto;
     height:100vh;
}

.user-profilepage
{
    display: none;
}
.first-page-all-trainer
{
 
}

.user-location {
 
     border-bottom: 1px solid #616161;
    overflow: hidden;
padding-top: 11px;
    padding-bottom: 18px;
    width: 100%;
     
}

#demos .ui-datepicker td
{
      padding: 4px;
}


#demos tbody {
    position: relative;
    top: 11px;
}
.addyear {
      border-bottom: 1px solid #eaeaea;
    color: #8a8a8a;
    font-size: 20px;
    margin: 12px auto 0;
    padding-bottom: 9px;
    text-align: center;
    width: 90%;
}
.addleftclass {
    float: left;
    font-size: 22px;
    text-align: right;
     color: #fff;
}
.rightclass
{
 float: right;
    font-size: 15px;
    text-align: right;
     color: #c4c4c4;
}

.year {
   float: left;
    font-size: 40px;
    text-align: center;
        margin-left: 11px;
     color: #fff;
}
.addyeartop {
    border: 0 solid red;
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 8px;
    padding-top: 14px;
    text-align: center;
    width: 72%;
}


#demos .ui-datepicker th {
    border: 0 none;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

#demos .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
   
    margin: 0 auto;
    text-align: center;
    width: 75%;
}
.ui-datepicker-calendar th:nth-child(1) span {
     
    color: #FE9A00 !important;
}


#demos thead {
    border-bottom: 1px solid #eaeaea;
     border-top: 1px solid #eaeaea;
}


#demos .ui-datepicker-next.ui-corner-all > img
{ 
   margin-left: -33px !important; 
 }


.imgplus {
    background: #fe9a00 none repeat scroll 0 0;
 
    border-radius: 26px;
    float: right;
 
    position: relative;
    right: 30px;
    width: 23px;
    
}

.hide-partitiondiv {
     
    height: 319px;
    position: fixed;
    top: 193px;
    width: 100%;
}

.user-EMAIL {
   
     border-bottom: 1px solid #616161;
    overflow: hidden;
   padding-top: 11px;
    padding-bottom: 18px;
    width: 100%;
}


.user-zip {
   
/*    border-bottom: 1px solid #616161;*/
    overflow: hidden;
  padding-top: 11px;
    padding-bottom: 18px;
    width: 100%;
}

.user-phone {
    border-bottom: 1px solid #616161;
    overflow: hidden;
    padding-top: 11px;
    padding-bottom: 18px;
    width: 100%;
}


.userimagte-name {
  border-bottom: 1px solid #616161;
    overflow: hidden;
     padding-top: 11px;
    padding-bottom: 18px;
    width: 100%;
}


/*
.user-preferance {
 
    border-bottom: 1px solid #616161;
    overflow: hidden;
    padding-bottom: 7px;
     padding-top: 4px;
    width: 100%;
}*/

.booking-calender
{
    display: none;
}


.header-div21 {
    background: #003f6f none repeat scroll 0 0;
 
}


#page .ui-datepicker-year
{
    display: none;
}
.ui-datepicker-next.ui-corner-all > img {
   margin-left: -11px;
}
.ui-datepicker-prev.ui-corner-all > img {
  
  
}


.ui-datepicker-month {
    font-family: helvetica;
    font-size: 17px;
    font-weight: 200;
}
.ui-datepicker-calendar span {
    color: #5a5a5a;
    font-size: 12px;
}

#demos tr:nth-child(1) {
   
    line-height: 30px;
   
}

#demos tr:nth-child(2) {
   
    line-height: 30px;
   
   
}
#demos tr:nth-child(3) {
   
    line-height: 30px;
   
}

#demos tr:nth-child(4) {
   
    line-height: 30px;
   
   
}

.discover-contentggggg {
    border-bottom: 1px solid #dadada;
    margin-top: 10px;
    text-align: center;
}
.discover-contentundefined {
    display: none;
}

#search_rest_page .search_page_head
{
     margin-right: 21px;
 }


.login-backbtncal {
    margin: 3px 0 0;
    padding: 0;
}