<!DOCTYPE html>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html style="height:100%">
<head>
<title>Bookmydoc</title>

<!--
Customize this policy to fit your own app's needs. For more guidance, see:
https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
Some notes:
* gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
* https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
* Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
    * Enable inline JS: add 'unsafe-inline' to default-src
-->
<!-- 
<link rel="stylesheet" type="text/css" href="css/index.css"> -->
<link rel="stylesheet" type="text/css" href="css/style1.css">
<link rel="stylesheet" type="text/css" href="css/powerange.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/jquery.timepicker.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/powerange.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/javascript" src="js/facebookConnectPlugin.js"></script>

<script type="text/javascript" src="js/controllers.js"></script>
<!-- **********calender css and js******************* -->
<link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="cssadv/mdp.css">
        <link rel="stylesheet" type="text/css" href="cssadv/pepper-ginder-custom.css">

    
    <link rel="stylesheet" type="text/css" href="cssadv/prettify.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="js/jquery-ui2.js"></script>
<!-- **********calender css and js******************* -->
<script type="text/javascript" src="js/jquery.timepicker.min.js"></script>
<!-- ***********time picker****** -->
    <script type="text/javascript" src="jsad/jquery-1.11.1.js"></script>
<!--     <script type="text/javascript" src="jsad/jquery-ui-1.11.1.js"></script> -->


        <script type="text/javascript" src="jsadv/prettify.js"></script>
    <script type="text/javascript" src="jsadv/lang-css.js"></script>

    <script type="text/javascript" src="jsadv/jquery-ui.multidatespicker.js"></script>

    <script type="text/javascript">
    <!--
      var latestMDPver = $.ui.multiDatesPicker.version;
      var lastMDPupdate = '2014-09-19';
      
      $(function() {
        // Version //
        //$('title').append(' v' + latestMDPver);
        $('.mdp-version').text('v' + latestMDPver);
        $('#mdp-title').attr('title', 'last update: ' + lastMDPupdate);
        
        // Documentation //
        $('i:contains(type)').attr('title', '[Optional] accepted values are: "allowed" [default]; "disabled".');
        $('i:contains(format)').attr('title', '[Optional] accepted values are: "string" [default]; "object".');


        $('#how-to h4').each(function () {
          var a = $(this).closest('li').attr('id');
          $(this).wrap('<'+'a href="#'+a+'"></'+'a>');
        });

        $('#demos .demo').each(function () {
          var id = $(this).find('.box').attr('id') + '-demo';
          $(this).attr('id', id)
            .find('h3').wrapInner('<'+'a href="#'+id+'"></'+'a>');
        });
        
        // Run Demos
        $('.demo .code').each(function() {
          eval($(this).attr('title','NEW: edit this code and test it!').text());
          this.contentEditable = true;
        }).focus(function() {
          if(!$(this).next().hasClass('test'))
            $(this)
              .after('<button class="test">test</button>')
              .next('.test').click(function() {
                $(this).closest('.demo').find('.hasDatepicker').multiDatesPicker('destroy');
                eval($(this).prev().text());
                $(this).remove();
              });
        });
      });
    // -->
    </script>

 


<!-- **************timepicker**************** -->
 



<title>Hello World</title>
</head>
     <body onload="firstpage()">

<div class="home-page">


<div class="first-page-all-trainer">


<div class="header-div">
   <div class="head-text"><h1> Trainers </h1></div> 
<div class="page_notice">
      <div class="notification">
        <img src="./img/notification.png">
      </div>
    </div>

    <div class="page_filter">
      <div class="filter_img">
         <img src="./img/filter.png">
      </div>
    </div>


</div> <!-- container header -->
   <div id="jas" class="discover-content">

   <div id="divLoading">
    </div>

    </div>
    
 <div id="divLoading">
    </div>


</div>  <!-- container div -->

<div class="search-detail-page">

<div class="header-div">
<div class="login-backbtn2"><img src="img/go.png"></div>
<div class="head-text2">
<h1> Details </h1></div> 
<div class="page_notice">
<div class="notification">
<img src="./img/notification.png">
</div></div></div>

<div id="divLoading"></div>
<div class="detail-result-page" id="detailpge">
  
</div>


    </div>


    <!-- ********booknew date ********** -->
    
<div class="package-order-div">

<div class="header-div">
<div class="login-backbtn4"><img src="img/go.png"></div>
<div class="head-text2">
<h1> Request Workout </h1></div> 
<!-- <div class="page_notice">
<div class="notification">
<img src="./img/notification.png">
</div></div> --></div>


<div class="order-inner-part">

<div class="first-calender-div">
  <label id="flet-span-date">Date : </label>
  <spen id="right-div-span"><input type="text" id="datepicker"></spen>


</div>


<div class="second-calender-div">
  <label id="second-span-date">Time : </label>
  <spen id="second-div-span"><input type="text" id="basicExample" class="time"></spen>


</div>


<div class="localtion-field-div">
<div class="lcoaltion-text"><p>Location : </p></div>  

<div class="lcoaltio-btn1"><div class="lcaltionbtn1"><input type="radio" id="ckeckedid" name="localtion" ></div>    <div class="inputtype-text"><p>My Location</p></div></div>

<div class="lcoaltio-btn2"><div class="lcaltionbtn2"><input type="radio"  id="ckeckedid" name="localtion" /></div>    <div class="inputtype-text"><p>Trainers Location</p></div></div>

</div>


 



<div class="class-type-div">
 <div class="class-tyle-text"><p>Class Type :</p></div>  
 <div class="class-radio-btn">
 <div class="leftclass-div-txt"><label><input type="radio" name="radio"></label><span>1.1</span></div>

  <div class="rightclass-div-txt"><label><input type="radio" name="radio"></label><span>Group</span></div>

 </div>

</div>

</div>

 <div cid="checkoit-btn"  class="bmd-main-btn3flog8"><div onclick='checkout()' id="checkout" class="bmd-main-btn3flog8"> NEXT</div></div>


    </div>


    <!-- *********************** -->











    <!-- **************congratulation start************** -->


<div class="congratulation-div">
  

<div class="con-middel-part">
  <div class="con-text-mid">
<div class="con-check-div"><img src="img/image_click.png"></div>
<div class="con-text-div"><h3>Congratulations!</h3></div>
<div class="con-pata-div"><h3>Your Scheduled Request for <span class="dateformetting"></span> at <span class="booktime"></span> has been sent to <span class="bookername"></span>.</span> </div>

<div class="con-text-last"><h3>They will confirm soon!</h3></div>


</div>
<!-- <div class="con-email-fld"><h3>Your e-mail address <span><img src="img/images_boxed.png"></span></h3></div> -->
<div id="newsearch" onclick="retrunsearch()" class="bmd-main-btn3flog"> Start a New Search</div>

</div>

</div>

        <!-- **************congratulation end************** -->









    <div class="loginhome-page">

<ion-content class="padding theme-bg scroll-content ionic-scroll"><div style="transform: translate3d(0px, 0px, 0px) scale(1);" class="scroll"> 
    <div class="bmd-list" ng-show="noSessionStatus">
       <div class="bmd-bg-sec2" ng-show="noSessionStatus">
        <img id="top_circle" style="width: 68%;" src="img/circle_img.png">
       </div>
      <ul>
        <li class="bmd-listing">
          <div class="head-img-txtflog">
            <p class="word-out">MY TRAINER</p> 
          </div>
        </li>
        <li class="bmd-listing">
          <div class="head-img-txtflog">
            <p style="color:#fff;margin:0px">Find the best local trainers</p>
          </div>
        </li>
        <li class="bmd-listing">
          <div  id="login-world" class="head-img-txtflog">
            <div id="first-btn" class="bmd-main-btn2flog">  LOGIN </div>
          </div>
        </li>
        <li class="bmd-listing">
          <div class="head-img-txtflog">
            <button class="bmd-main-btn2flog" onclick="fblogin();"><b class="log-with-txt">LOGIN WITH </b><b class="facebk-txtflog">facebook</b></button>
          </div>
        </li>
        <li class="bmd-listing" style=" margin-top: 17px;">
          <div class="head-img-txtflog">
            <b style="padding-top:5px;color:#fff;">Don't have an account? <b ng-show="noSessionStatus" id="signdiv">
             SIGN UP
            </b>
            </b>
          </div>
        </li>
      </ul>
    </div>


  </div><div class="scroll-bar scroll-bar-v"><div style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;" class="scroll-bar-indicator scroll-bar-fade-out"></div></div></ion-content>


  </div>




<div class="login-page" style="display: none;">
<ion-modal-view class="sign_form">
  <ion-header-bar>
<div class="login-backbtn"><img src="img/go.png"></div>
  </ion-header-bar>
  <ion-content class="theme-bg">
<!--     <div class="bmd-title-logo">
      <img src="img/bmd-signinlogo.png">
    </div> -->

  <div class="head-img-txtflog">
       <div class="head_img_pro">
      <img src="img/icon-transparent.png">
      </div>
      <p class="word-out">MY TRAINER</p>

  </div>



<div class="login-user-div"></div>
<div class="bmd-usr-wrapper">

 
      
        
        <div id="login-user">
    <div style="padding-top: 11px;" class="bmd-usr">
      <div id="user_icon-img" class="bmd-usr1" style="padding:5px"><img src="img/user_new.png"></div>
      <div class="bmd-usr2">
        <input type="email" required="" ng-model="loginData.email" placeholder="Enter your E-Mail" name="email" class="bmd-usr-input" id="login_user_id">
      </div>
    </div>
    
    <div style="margin-bottom:18px;" class="line-brk"></div>
<!--   <div class="bmd-field error" ng-show="submitted  && loginform.email.$error.required">E-Mail is required.</div>
    <div class="bmd-field error" ng-show="loginform.email.$touched && loginform.email.$error.email">Invalid E-Mail</div> -->
    <div class="bmd-usr">
    <div id="user_icon-img" class="bmd-usr1"><img src="img/lock_new.png"></div>
    <div class="bmd-usr2">
    <input type="password" required="" ng-model="loginData.password" placeholder="Password" name="password" class="bmd-usr-input" id="user_paswd">
    </div>
    </div>
    </div>
   <div   id="login_error" ng-show="loginError" style="display: none" class="error_block">
          <ul>
            <!-- ngRepeat: msg in loginErrorMsg --><li ng-repeat="msg in loginErrorMsg" class="ng-binding" style="">Invalid User Type</li><!-- end ngRepeat: msg in loginErrorMsg --><li ng-repeat="msg in loginErrorMsg" class="ng-binding">Invalid Login Details</li><!-- end ngRepeat: msg in loginErrorMsg -->
          </ul>
        </div>
 
 
    <div id="login_id" class="user_login-div">

    <button  class="bmd-main-btn" id="user_login">LOGIN</button>
    </div>
    
    <!-- <div class="bmd-social">
    <button class="bmd-fb-btn fbbg txt-color-white"><img src="img/bmd-fb.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Facebook</button>
    <button class="bmd-ggle-btn gglebg txt-color-white"><img src="img/bmd-google.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Google</button>
    </div> -->
 
<!--     <button class="bmd-main-btn" ng-click="submitted=false; join()">Sign UP</button> -->
  </div>
  </ion-content>
</ion-modal-view>


  </div>


  <!-- signup page -->


  <div class="signup-page-div" style="display: none">
     
<ion-modal-view class="sign_form">  
  <ion-header-bar>

  <div class="login-backbtn"><img src="img/go.png"></div>
<!--     <div class="bmd-spclity-head">SignUp</div> -->
  </ion-header-bar>
  <ion-content ng-init="submitted=false" class="theme-bg">
  <!--  <div class="bmd-title-logo">
    <img src="img/bmd-signinlogo.png">
    </div> -->
<div class="signup-pge-dsgn">
<div id="signup-pge-cs" class="bmd-title-logo">
    <div class="head-img-txt">
      <div class="head_img_pro">
      <img src="img/icon-transparent.png">
      </div>
      <p style="margin-bottom:22px;" class="word-out">MY TRAINER</p>

  </div>
    </div>
    </div>

   
    <div class="bmd-usr-wrapper">
      
<div ng-show="signupError==false" class="error_block ng-binding"  id="resultappen"  style="">
           
          </div>

    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/user_new.png"></div>
      <div class="bmd-usr2">
      <input id="fname"  type="text" ng-model="signUpData.firstname" placeholder="First Name" name="firstname" class="bmd-usr-input">
      </div>
    </div>
    <div class="line-brk"></div>
    
    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/user_new.png"></div>
      <div class="bmd-usr2">
      <input type="text"  id="lname" ng-model="signUpData.lastname" placeholder="Last Name" name="lastname" class="bmd-usr-input">
      </div>
    </div>
    <div class="line-brk"></div>
    
    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/email.png"></div>
      <div class="bmd-usr2">
        <input type="email"  ng-model="signUpData.email" placeholder="E-Mail" name="email" class="bmd-usr-input" 
        id="seremail-validate">
      </div>
    
    </div>
    <!--  <div class="bmd-field error" ng-show="submitted  && signupform.email.$error.required">E-Mail is     required.
      </div>
      <div class="bmd-field error" ng-show="signupform.email.$touched && signupform.email.$error.email">    Invalid E-Mail
      </div> -->
    <div class="line-brk"></div>
  <!--  <div class="bmd-field error" ng-show="submitted  && signupform.email.$error.required">E-Mail is required.</div>
    <div class="bmd-field error" ng-show="signupform.email.$touched && signupform.email.$invalid">Invalid E-Mail.</div> -->

    
    

    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/email.png"></div>
      <div class="bmd-usr2">
      <input type="text" id="addressfld" placeholder="Address" name="Address" class="bmd-usr-input">
      </div>
    </div>
    <div class="line-brk"></div>
    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/lock_new.png"></div>
      <div class="bmd-usr2">
      <input type="password" id="passfld" ng-model="signUpData.password" placeholder="Password" name="password" class="bmd-usr-input">
      </div>

    </div>
    <div class="line-brk"></div>
  
   

    <!-- <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/bmd-phne.png"></div>
      <div class="bmd-usr2">
      <input class="bmd-usr-input" type="text" name="phone" placeholder="Mobile" ng-model="signUpData.phone" ng-minlength="10"  ng-maxlength="10" required>
      </div>
    </div>
    <div class="bmd-field error" ng-show="submitted  && signupform.phone.$error.required">Mobile Number is required.</div>
    <div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.minlength">Mobile Number should be 10 digits.</div>
    <div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.maxlength">Mobile Number should be 10 digits.</div> -->
    
    <div style="display:inline-flex;width:100%;" class="chkoutbtn_ap">
      <input type="checkbox" required="" class="checkbox-custom" name="terms" id="checkbox-terms">
      <label class="checkbox-custom-label" for="checkbox-terms"></label><b>By using this app, you agree to path Team of Use and Privacy Policy.</b>
    </div>
<!--     <div   id="must-agree" ng-show="submitted  &amp;&amp; signupform.terms.$error.required" class="bmd-field error">Must agree the Terms and Conditions.</div> -->
    <div id="must-agree" class="bmd-field error" ng-show="signupform.terms.$dirty && signupform.terms.$error.required">Must agree the Terms and Conditions.</div>
 <div class="signup-btn">
  <button   class="bmd-main-btn" id="alert">SIGN UP</button>
</div>


 <!--   <button class="bmd-main-btn"  ng-click="Signud()">facebook login</button>


 -->

    </div>
 

  </ion-content>


</ion-modal-view>

  </div>


  
  <div class="menu-slide"><ion-content class="bmd-spcl-theme scroll-content2 ionic-scroll"><div class="scroll">
      <ion-list class="list disable-user-behavior"><div class="list">
        <div class="head-img-txtflogd">
  <div class="head_img_pro">
      <img src="img/icon-transparent.png">
      </div>
      <p class="word-outflog">MY TRAINER</p>

  </div>
<ion-item class="bmd-spcl-listing item2" ng-show="noSessionStatus" onclick="searchtrainer()" menu-close="" style="">
         SEARCH TRAINERS
        </ion-item>

        <ion-item class="bmd-spcl-listing item2" ng-show="noSessionStatus" onclick="profilepage()" menu-close="" style="">
          MY PROFILE
        </ion-item>
     
        <ion-item class="bmd-spcl-listing item2" ng-show="noSessionStatus" onclick="bookingmentfun()" menu-close="" style="">
          MY BOOKINGS<div class="imgplus"><span id="totalbooking"></span></div>
        </ion-item>




        <!-- social icon start-->
   <!--   <ion-item menu-close ng-show="noSessionStatus" class="bmd-spcl-listing">
          
        </ion-item>
             <ion-item menu-close ng-show="noSessionStatus" class="bmd-spcl-listing">
          
        </ion-item>
             <ion-item menu-close ng-show="noSessionStatus" class="bmd-spcl-listing">
        
        </ion-item>
          </ion-item>
             <ion-item menu-close ng-show="noSessionStatus" class="bmd-spcl-listing">
        
        </ion-item> -->
         <!-- social icon start-->



       <!--  <ion-item menu-close href="#/app/bmd-home" class="bmd-spcl-listing">
          Home
        </ion-item> -->
        <!-- <ion-item menu-close ng-click="loginw()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Login
        </ion-item> -->


 <!-- <ion-item menu-close ng-click="fblogin()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Facebook login
        </ion-item> -->



       <!--  <ion-item menu-close ng-click="signup()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Sign Up
        </ion-item> -->

<!-- <a href="signup2.html">
          Sign Up
      </a> -->
        <!-- <ion-item menu-close ng-click="reset()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Reset Password
        </ion-item> -->
   <!--      <ion-item menu-close href="#/app/my_booking" ng-show="userSessionStatus" class="bmd-spcl-listing">
          My Booking
        </ion-item> -->
     <!--    <ion-item menu-close ng-click="my_booking()" ng-show="userSessionStatus" class="bmd-spcl-listing" >
          MY BOOKINGS
        </ion-item> -->
        <ion-item class="bmd-spcl-listing item2"   onclick="Logout()" menu-close="" style="">
           LOGOUT
        </ion-item>
            <ion-item class="bmd-spcl-listing item2" ng-show="noSessionStatus" ng-click="commingsoon()" menu-close="" style="">
           
        </ion-item>
           <ion-item class="bmd-spcl-listing item2" ng-show="noSessionStatus" ng-click="commingsoon()" menu-close="" style="">
          
        </ion-item>
     

        
  
        <!-- <ion-item menu-close href="#/app/test"  class="bmd-spcl-listing">
          My Booking
        </ion-item> -->
      </div></ion-list>
      <div class="social_icons"><a href="https://www.facebook.com/"><img src="img/facebookcircle.png"></a><a href="https://twitter.com/"><img src="img/twittercircle.png"></a><a href="https://www.instagram.com/"><img src="img/instagramcircle.png"></a></div>
    </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="height: 0px;"></div></div></ion-content></div>
<div class="search-page">


<div class="div-coloor"  id="slow-slide">

<ion-header-bar  id="login-menu" class="bar-stableb bg-color-white bar bar-header" style="">
    <button id="menuslide"   class="common-button button button-positive button-clear button_text icon ion-navicon txt-color-black" menu-toggle="left"></button>
         <div class="signup_back_btn" style="display: inline;">

<div class="filter-div1">Search</div> 
</div>
   
  </ion-header-bar>



    <div ng-hide="noSessionStatus"    class="filter-page" style="margin-top: -4px;"> 
      <div ng-init="get_appointments()" class="bmd-results-wrapper">
        <div class="filter-page-contant" style="margin-right: 0px;">
          <div class="bmd-title-logo2">
        </div>
        <div id="appendmsg" ng-show="signupError" class="success_block ng-binding ng-hide" style=""></div>
        <form ng-submit="signupform.$valid &amp;&amp; doSignup()" name="signupform" class="ng-pristine ng-valid">
        <div class="containerration">

          <div class="yoga-wordout"><p><span class="wordout-yoga">Trainer</span>
            <span class="spelizationsids"></span>
            <span class="selecedgender"></span>
            <span class="selecedpayrate"></span>
            <span id="appendinto"></span></p>
            <div class="right-side-categories"><img src="img/go.png" class="transfromimg"></div>
          </div>
          <div class="container-hide-div">
          <div class="hide-open-time">
          <div class="likefilterd"></div>
          <div class="price-range"><p>Price Range: <span class="dollercls">$0</span>
            to <span class="dollercls">$</span><span id="js-display-decimald" class="dollercls">125</span></p>
          </div>
<!-- 
            <div class="slider-custom1">
            <div class="admin1">0</div>
            <input type="range" min="0" max="250" data-rangeSlider>
              <div class="admin2"><output></output></div>
            
            </div> -->
          <div class="slider-wrapper" style="width: 267px;">
            <b class="dollersign">$0</b>

            <input type="text" style="display: none;" value="$" class="js-decimal"> </span>

          </div>
          <div class="example">
            <div class="price-range2"><p>Distance Range:  <span class="dollercls">0 miles</span> to <span id="js-display-changes" class="   dollercls">25</span> <span class="dollercls">miles</span></p>
            </div>

            <!--   <div class="slider-custom">
                <div class="admin1">0</div>
              <input type="range" min="0" max="50" data-rangeSlider>
             <div class="admin2"><output></output></div>
              </div> -->

            <div class="slider-wrapper2" style="border: 0px solid red; width: 257px; margin: 0px 0px 26px 31px;">
             <input type="text" class="js-check-change" style="display: none;"></span> </span></span>
            </div>
          </div>
          <div class="rating-div"> 
            <div class="rating-txt">
              <b>Ratings</b>
            </div>
            <div class="main-images-star">
              <div class="norating">
                <img src="img/no_rating_txt.png">
              </div>
              <div class="first-star1">
                <img src="img/first_img.png">
              </div>
                <div class="first-star2"><img src="img/second_img.png">
                </div>

                <div class="first-star3"><img src="img/third_img1.png">
                </div>


                <div class="first-star4"><img src="img/fourth_img.png">
                </div>

                <div class="first-star5"><img src="img/fifth_img.png">
                </div>
                </div>

                </div>
                </div>

              <div class="language-div">
              <div class="language-div-main">
              <b id="languages-id">Languages</b>
              <!-- <div class="language-icon">
              <img src="img/go.png">
              </div> -->
              </div>
              <div class="lang_type_eng">
              <input type="radio" value="0" name="language"><label>English</label>
              </div>
              <div class="lang_type_sap">
              <input type="radio" value="1" name="language"><label>Spanish</label>
              </div>
              </div>

              <div class="gender-div">
              <div class="gendr-div-main">
              <b class="gender-txt">Gender</b>
              </div>
              <div class="male">
              <input type="radio" value="0" name="gender"><label>Male</label>
              </div>
              <div class="female">
              <input type="radio" value="1" name="gender"><label>Female</label>
              </div>
              </div>
             <div class="likefilter"></div>



        <div style="margin-bottom:0px;margin-top:10px;" class="head-img-txtflog">
        <div id="first-btn01" class="filter-div">  My Trainer </div>
        </div>



        <div class="head-img-txtflog">
        <div class="clearonmsg"></div>
        <div id="first-btn01" class="clear-lan-sex">  Reset </div>
        </div>


        </div>
        </div>
        </form> 

<div id="cate-slide" class="sidebar" style="width: 250px; display: none;">
<div id="image-workout" class="image-workout-div">
<label>Trainer</label>
<span>
<img src="img/dropdown.png">
</span> 
</div>
        <div class="likefilter"></div>
 
        </div>

</div>


  <script src="powerange.min.js"></script>
  <style type="text/css"> 
/*    body {
      background: #ffffff none repeat scroll 0 0;
      margin: 0;
    }*/
  
  </style>             
</div>
</div>
    
 

     </div>

  </div> <!-- dome div -->




 



<!-- **************profile page ************** -->




<div class="user-profilepage">
  
<div class="header-div">

   <div class="userheadser"> <div class="login-backbtn2user"><button menu-toggle="left" class="common-button button button-positive button-clear button_text icon ion-navicon txt-color-black" id="menuslide2ds"></button></div><h1> User Profile  </h1></div> 
</div>

 <div class="inner-container">
<div class="userimagte"><img src=""></div>

<div class="innercontainer-userpro">
<div class="userimagte-name"><span>Name :</span><h3></h3></div>

<!-- <div class="user-age"><span>Age</span><h3></h3></div> -->

<div class="user-location"><span>Location :</span><h3> </h3></div>



<div class="user-EMAIL"><span>E-mail :</span><h3> </h3></div>


<div class="user-preferance"><h3> </h3></div>


<div class="user-phone"><span>Phone :</span><h3></h3></div>
<div class="user-zip"><span>Zipcode :</span><h3></h3></div>


</div>
</div>
</div>






<!-- ************profile page*********** -->




<!-- ****************booking page calender**************** -->


<div class="booking-calender">
  <div class="header-div21">

   <div class="userheadser"> <div class="login-backbtncal"><img src="img/go.png"></div> <div class="login-backbtn2user">

   </div></div>
   <div class='addyeartop'><p class='addleftclass'></p><div class='year'></div><p class='rightclass'></p></div> 
</div>
 <div id="page">

<div id="demos">

<ul id="demos-list">




<div class='addyear'></div>
<li class="demo">

<div id="pickableRange" class="box"></div>

<div class="code-box">
 
<pre class="code prettyprint" style="display:none">

 

var today = new Date();
var date1='14';
var y = today.getFullYear();

//alert(y);
$('#pickableRange').multiDatesPicker({
  //addDates: ['01/02/'+y,'01/03/'+y, '02/19/'+y, '01/'+date1+'/'+y, '01/16/'+y],

//defaultDate: '1/1/'+y
});

</pre>
</div>
</li>

</ul>
<div class="clear"></div>
</div>






</div>

<div cid="booknow-btn" onclick="donefun()" class="bmd-main-btn3flog2"><div id="donebtn" class="bmd-main-btn3flog"> Done</div></div>
</div>


<!-- ****************booking page calender**************** -->












  <div  id="search_rest_page" class="search-result-page">
  
<div data-ng-init="initlocad" id="discover" style="display: block;">
  <div class="bar2">
    <div class="togo_backpage">
      <div class="togo_backpage_img">
        <img src="./img/go.png" class="back_page">
      </div>
    </div> 
    <div class="search_page_head">
      <div class="head_search">
        <h1> Trainers </h1>
      </div>
    </div>
    <div class="page_notice">
      <div class="notification">
        <img src="./img/notification.png">
      </div>
    </div>     
    <div class="page_filter">
      <div class="filter_img">
        <img src="./img/filter.png">
      </div>
    </div> 
  </div>
  <div class="discover-content"> <div id="divLoading"></div> </div>
   </div>

</div>





  </div> <!-- home div -->
 
  
    </body>



</html>

<script>
$( function() {
$( "#datepicker" ).datepicker();
} );


</script>



<script>
$(function() {
$('#basicExample').timepicker();
});
</script>

