<!DOCTYPE html>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html style="height:100%">
<head>
<title>Bookmydoc</title>

<!--
Customize this policy to fit your own app's needs. For more guidance, see:
https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
Some notes:
* gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
* https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
* Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
    * Enable inline JS: add 'unsafe-inline' to default-src
-->
<!-- 
<link rel="stylesheet" type="text/css" href="css/index.css"> -->
 <link rel="stylesheet" type="text/css" href="css/style1.css">
  <link rel="stylesheet" type="text/css" href="css/powerange.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

          <link href="lib/ionic/css/ionic.css" rel="stylesheet">

 <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/powerange.min.js"></script>
   <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


<script type="text/javascript" src="js/controllers.js"></script>

 



<title>Hello World</title>
</head>
     <body onload="firstpage()">

<div class="home-page">


<div class="first-page-all-trainer">


<div class="header-div">
   <div class="head-text"><h1> Trainers </h1></div> 
<div class="page_notice">
      <div class="notification">
        <img src="./img/notification.png">
      </div>
    </div>

    <div class="page_filter">
      <div class="filter_img">
         <img src="./img/filter.png">
      </div>
    </div>


</div> <!-- container header -->
   <div id="jas" class="discover-content">

   <div id="divLoading"> 
    </div>

    </div>



</div>  <!-- container div -->
    <div class="loginhome-page">

<ion-content class="padding theme-bg scroll-content ionic-scroll"><div style="transform: translate3d(0px, 0px, 0px) scale(1);" class="scroll"> 
    <div class="bmd-list" ng-show="noSessionStatus">
       <div class="bmd-bg-sec2" ng-show="noSessionStatus">
        <img id="top_circle" style="width: 68%;" src="img/circle_img.png">
       </div>
      <ul>
        <li class="bmd-listing">
          <div class="head-img-txtflog">
            <p class="word-out">MY TRAINER</p> 
          </div>
        </li>
        <li class="bmd-listing">
          <div class="head-img-txtflog">
            <p style="color:#fff;margin:0px">Find the best local trainers</p>
          </div>
        </li>
        <li class="bmd-listing">
          <div  id="login-world" class="head-img-txtflog">
            <div id="first-btn" class="bmd-main-btn2flog">  LOGIN </div>
          </div>
        </li>
        <li class="bmd-listing">
          <div class="head-img-txtflog">
            <button class="bmd-main-btn2flog" onclick="fblogin();"><b class="log-with-txt">LOGIN WITH </b><b class="facebk-txtflog">facebook</b></button>
          </div>
        </li>
        <li class="bmd-listing" style=" margin-top: 17px;">
          <div class="head-img-txtflog">
            <b style="padding-top:5px;color:#fff;">Don't have an account? <b ng-show="noSessionStatus" id="signdiv">
             SIGN UP
            </b>
            </b>
          </div>
        </li>
      </ul>
    </div>


  </div><div class="scroll-bar scroll-bar-v"><div style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;" class="scroll-bar-indicator scroll-bar-fade-out"></div></div></ion-content>


  </div>




<div class="login-page" style="display: none;">
<ion-modal-view class="sign_form">
  <ion-header-bar>
<div class="login-backbtn"><img src="img/go.png"></div>
  </ion-header-bar>
  <ion-content class="theme-bg">
<!--     <div class="bmd-title-logo">
      <img src="img/bmd-signinlogo.png">
    </div> -->

  <div class="head-img-txtflog">
       <div class="head_img_pro">
      <img src="img/icon-transparent.png">
      </div>
      <p class="word-out">MY TRAINER</p>

  </div>



<div class="login-user-div"></div>
<div class="bmd-usr-wrapper">

 
      
        
        <div id="login-user">
    <div style="padding-top: 11px;" class="bmd-usr">
      <div id="user_icon-img" class="bmd-usr1" style="padding:5px"><img src="img/user_new.png"></div>
      <div class="bmd-usr2">
        <input type="email" required="" ng-model="loginData.email" placeholder="Enter your E-Mail" name="email" class="bmd-usr-input" id="login_user_id">
      </div>
    </div>
    
    <div style="margin-bottom:18px;" class="line-brk"></div>
<!--   <div class="bmd-field error" ng-show="submitted  && loginform.email.$error.required">E-Mail is required.</div>
    <div class="bmd-field error" ng-show="loginform.email.$touched && loginform.email.$error.email">Invalid E-Mail</div> -->
    <div class="bmd-usr">
    <div id="user_icon-img" class="bmd-usr1"><img src="img/lock_new.png"></div>
    <div class="bmd-usr2">
    <input type="password" required="" ng-model="loginData.password" placeholder="Password" name="password" class="bmd-usr-input" id="user_paswd">
    </div>
    </div>
    </div>
   <div   id="login_error" ng-show="loginError" class="error_block">
          <ul>
            <!-- ngRepeat: msg in loginErrorMsg --><li ng-repeat="msg in loginErrorMsg" class="ng-binding" style="">Invalid User Type</li><!-- end ngRepeat: msg in loginErrorMsg --><li ng-repeat="msg in loginErrorMsg" class="ng-binding">Invalid Login Details</li><!-- end ngRepeat: msg in loginErrorMsg -->
          </ul>
        </div>
 
 
    <div id="login_id" class="user_login-div">

    <button  class="bmd-main-btn" id="user_login">LOGIN</button>
    </div>
    
    <!-- <div class="bmd-social">
    <button class="bmd-fb-btn fbbg txt-color-white"><img src="img/bmd-fb.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Facebook</button>
    <button class="bmd-ggle-btn gglebg txt-color-white"><img src="img/bmd-google.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Google</button>
    </div> -->
 
<!--     <button class="bmd-main-btn" ng-click="submitted=false; join()">Sign UP</button> -->
  </div>
  </ion-content>
</ion-modal-view>


  </div>


  <!-- signup page -->


  <div class="signup-page-div" style="display: none">
     
<ion-modal-view class="sign_form">  
  <ion-header-bar>

  <div class="login-backbtn"><img src="img/go.png"></div>
<!--     <div class="bmd-spclity-head">SignUp</div> -->
  </ion-header-bar>
  <ion-content ng-init="submitted=false" class="theme-bg">
  <!--  <div class="bmd-title-logo">
    <img src="img/bmd-signinlogo.png">
    </div> -->
<div class="signup-pge-dsgn">
<div id="signup-pge-cs" class="bmd-title-logo">
    <div class="head-img-txt">
      <div class="head_img_pro">
      <img src="img/icon-transparent.png">
      </div>
      <p style="margin-bottom:22px;" class="word-out">MY TRAINER</p>

  </div>
    </div>
    </div>

   
    <div class="bmd-usr-wrapper">
      
<div ng-show="signupError==false" class="error_block ng-binding"  id="resultappen"  style="">
           
          </div>

    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/user_new.png"></div>
      <div class="bmd-usr2">
      <input id="fname"  type="text" ng-model="signUpData.firstname" placeholder="First Name" name="firstname" class="bmd-usr-input">
      </div>
    </div>
    <div class="line-brk"></div>
    
    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/user_new.png"></div>
      <div class="bmd-usr2">
      <input type="text"  id="lname" ng-model="signUpData.lastname" placeholder="Last Name" name="lastname" class="bmd-usr-input">
      </div>
    </div>
    <div class="line-brk"></div>
    
    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/email.png"></div>
      <div class="bmd-usr2">
        <input type="email"  ng-model="signUpData.email" placeholder="E-Mail" name="email" class="bmd-usr-input" 
        id="seremail-validate">
      </div>
    
    </div>
    <!--  <div class="bmd-field error" ng-show="submitted  && signupform.email.$error.required">E-Mail is     required.
      </div>
      <div class="bmd-field error" ng-show="signupform.email.$touched && signupform.email.$error.email">    Invalid E-Mail
      </div> -->
    <div class="line-brk"></div>
  <!--  <div class="bmd-field error" ng-show="submitted  && signupform.email.$error.required">E-Mail is required.</div>
    <div class="bmd-field error" ng-show="signupform.email.$touched && signupform.email.$invalid">Invalid E-Mail.</div> -->

    
    

    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/email.png"></div>
      <div class="bmd-usr2">
      <input type="text" id="addressfld" placeholder="Address" name="Address" class="bmd-usr-input">
      </div>
    </div>
    <div class="line-brk"></div>
    <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/lock_new.png"></div>
      <div class="bmd-usr2">
      <input type="password" id="passfld" ng-model="signUpData.password" placeholder="Password" name="password" class="bmd-usr-input">
      </div>

    </div>
    <div class="line-brk"></div>
  
   

    <!-- <div class="bmd-usr">
      <div class="bmd-usr1"><img src="img/bmd-phne.png"></div>
      <div class="bmd-usr2">
      <input class="bmd-usr-input" type="text" name="phone" placeholder="Mobile" ng-model="signUpData.phone" ng-minlength="10"  ng-maxlength="10" required>
      </div>
    </div>
    <div class="bmd-field error" ng-show="submitted  && signupform.phone.$error.required">Mobile Number is required.</div>
    <div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.minlength">Mobile Number should be 10 digits.</div>
    <div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.maxlength">Mobile Number should be 10 digits.</div> -->
    
    <div style="display:inline-flex;width:100%;" class="chkoutbtn_ap">
      <input type="checkbox" required="" class="checkbox-custom" name="terms" id="checkbox-terms">
      <label class="checkbox-custom-label" for="checkbox-terms"></label><b>By using this app, you agree to path Team of Use and Privacy Policy.</b>
    </div>
<!--     <div   id="must-agree" ng-show="submitted  &amp;&amp; signupform.terms.$error.required" class="bmd-field error">Must agree the Terms and Conditions.</div> -->
    <div id="must-agree" class="bmd-field error" ng-show="signupform.terms.$dirty && signupform.terms.$error.required">Must agree the Terms and Conditions.</div>
 <div class="signup-btn">
  <button   class="bmd-main-btn" id="alert">SIGN UP</button>
</div>


 <!--   <button class="bmd-main-btn"  ng-click="Signud()">facebook login</button>


 -->

    </div>
 

  </ion-content>


</ion-modal-view>

  </div>






  </div> <!-- dome div -->
 
  
    </body>



</html>

<script type="text/javascript">
$(document).ready(function(){
  //alert('df');
    $("#divLoading").addClass('show');
});
</script>


