<ion-pane>
 
	<ion-content class="theme-bg">
		<div class="bmd-results-wrapper" ng-init="get_appointments()">
			 
	      

	       <div class="filter-page-contant">
    <div class="signup_back_btn">
    <div class="left-arow" >
  <img src="img/left_arrow.png" ng-click="closefilterpage()">  
</div>
<div class="filter-div">Filters</div> <div class="Reset-arrow">Reset</div>
</div>
<div class="bmd-title-logo2">
 
		</div>
<div class="success_block ng-binding" ng-show="signupError" id="appendmsg"></div>

			<form  name="signupform" ng-submit="signupform.$valid && doSignup()">


<div class="containerration">

<div class="yoga-wordout"><p><span class="wordout-yoga">Workout</span>:Yoga </p>

<div class="right-side-categories"><img src="img/disclose-arrow.png"></div></div>
<div class="likefilter"></div>



<div class="price-range"><p>Price Range: <span class="dollercls">$</span><span class="dollercls" id="js-display-decimald"></span> to <span class="dollercls">$250</span></p></div>

<div class="slider-wrapper">
 
    <b class="dollersign">$</b>
    <input type="text" class="js-decimal"  value="$" style="display:inline !important;"/ disabled>


</div>

<div class="example">

    <div class="price-range2"><p>Distance Range:  <span class="dollercls">0 miles</span> to <span class="dollercls" id="js-display-changes"></span> <span class="dollercls">miles</span></p></div>
    <div class="slider-wrapper2">
    <input type="text" class="js-check-change" />
    </div>

 </div>

<div class="rating-div"> 

 <div class="rating-txt"><b>Ratings</b></div>
<div class="main-images-star">
<div class="norating">

 
<img src="img/no_rating_txt.png">
</div>

<div class="first-star1"><img src="img/first_img.png">
</div>

<div class="first-star2"><img src="img/second_img.png">
</div>

<div class="first-star3"><img src="img/third_img1.png">
</div>


<div class="first-star4"><img src="img/fourth_img.png">
</div>

<div class="first-star5"><img src="img/fifth_img.png">
</div>
</div>

   </div>
</div>



<div class="language-div"><b id="languages-id">Languages</b>
<div class="language-icon"><img src="img/disclose-arrow.png"></div> </div>
	<div class="likefilter"></div>
	</form>
 
 
  
</div>
  <script src="powerange.min.js"></script>
 
 


<style type="text/css">
	
	body {
    background: #ffffff none repeat scroll 0 0;
    margin: 0;
}

.theme-bg {
background: #ffffff ;
}

.bmd-results-wrapper {
 
    padding: 0px;
  
}
</style>   
	    
	         
		</div>
	</ion-content>

</ion-pane>
