<ion-view class="bar-stableb bg-color-white">
	<ion-header-bar class="bar-stableb bg-color-white">
		<button menu-toggle="left" class="common-button button button-positive button-clear button_text icon ion-navicon txt-color-black"></button>
		<div class="bmd-head"><img src="img/bmd-logo.png"></div>
		<button class="common-button button button-positive button-clear button_text icon ion-android-more-vertical txt-color-black"></button>
	</ion-header-bar>
	<ion-content class="padding theme-bg" >
		<div class="bmd-search-bar-outer">
			<form ng-submit="search(search_text)" style="display:inline-flex;width:100%">
				<input style=" padding-left: 10px !important;" type="text" class="bmd-input" placeholder="Search doctor and clinics" name="search_text" ng-model="search_text">
				<button type="submit"  class="button button-positive button-clear button_text icon ion-ios-search txt-color-gray"></button>
			</form>
			<!-- <button class="button button-positive button-clear button_text icon ion-ios-mic txt-color-gray"></button> -->
		</div>
		<div class="bmd-bg-sec2">
		</div>
		<div class="bmd-list">
			<ul>
				<li class="bmd-listing" >
					<a class="link_select" href="#/app/listing/speciality">
						<div class="bmd-list-icon"><img src="img/bmd-speciality-icon.png"></div>
						<div class="bmd-list-details">Speciality
						<p >{{desiredSpeciality}}</p></div>
						<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
					</a>
				</li>
				<li class="bmd-listing">
					<a class="link_select" href="#/app/listing/location">
						<div class="bmd-list-icon"><img src="img/bmd-location-icon.png"></div>
						<div class="bmd-list-details">Location
						<p >{{desiredLocation}}</p></div>
						<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
					</a>
				</li>
				<li class="bmd-listing" ng-click="calendar()">
					<div class="bmd-list-icon"><img src="img/bmd-date-icon.png"></div>
					<div class="bmd-list-details">Date
					<p >{{selectedDay | date: "MMM dd"}}</p></div>
					<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
				</li>
				<li class="bmd-listing">
					<a class="link_select" href="#/app/listing/insurance" >
						<div class="bmd-list-icon"><img src="img/bmd-insurance.png"></div>
						<div class="bmd-list-details">Insurance
						<p>{{desiredInsurance}}</p></div>
						<div class="bmd-forward"><img src="img/bmd-frwrd-icon.png"></div>
					</a>
				</li>

			</ul>
			<button class="bmd-apponmnt-button" ng-click="findDoc()">Find Doctor</button>
		</div>

		   <div class="categories-div-left"  id="cate-slide" ng-hide="noSessionStatus">

<div class="image-workout-div" id="image-workout">
    <label>Workout</label>
    <span>
   <img src="img/dropdown.png">
    </span>
    </div>

    <div class="checkboxd-div1">
    <label>Yoga</label>
    <span>
    <input class="input01" type="checkbox" name="first categiesw" value="Yoga">
    </span>
    </div>

      <div class="checkboxd-div2">
      <label>Pilates</label>
      <span>
      <input class="input02" type="checkbox" name="second categiesw" value="Pilates">
      </span>
      </div>

  <div class="checkboxd-div3">
      <label>Kickboxing</label>
      <span>
      <input class="input03" type="checkbox" name="second categiesw" value="Kickboxing">
      </span>
      </div>


        <div class="checkboxd-div4">
      <label>Weightlifting</label>
      <span>
      <input  class="input04" type="checkbox" name="second categiesw" value="Weightlifting">
      </span>
      </div>


        <div class="checkboxd-div5">
      <label>Personal Traning</label>
      <span>
      <input class="input05" type="checkbox" name="second categiesw" value="Personal Traning">
      </span>
      </div>


        <div class="checkboxd-div6">
      <label>Rehabilitation</label>
      <span>
      <input class="input06" type="checkbox" name="second categiesw" value="Rehabilitation">
      </span>
      </div>

        <div class="checkboxd-div7">
      <label>Weight Loss</label>
      <span>
      <input class="input07" type="checkbox" name="second categiesw" value="Weight Loss">
      </span>
      </div>

          <div class="checkboxd-div8">
      <label>crossfit</label>
      <span>
      <input class="input08" type="checkbox" name="crossfit" value="crossfit">
      </span>
      </div>


      


    </div>

    <div class="div-coloor">
    <div ng-hide="noSessionStatus" class="filter-page" style="margin-top: -4px;">

 
    <div ng-init="get_appointments()" class="bmd-results-wrapper">
      <div class="filter-page-contant">
 
<div class="bmd-title-logo2">
 
    </div>
<div id="appendmsg" ng-show="signupError" class="success_block ng-binding ng-hide" style=""></div>

      <form ng-submit="signupform.$valid &amp;&amp; doSignup()" name="signupform" class="ng-pristine ng-valid">


<div class="containerration">

<div class="yoga-wordout"><p><span class="wordout-yoga">Trainers</span><span id="appendinto"></span></p>

<div class="right-side-categories"><img src="img/disclose-arrow.png" class="transfromimg"></div></div>
<div class="likefilter"></div>



<div class="price-range"><p>Price Range: <span class="dollercls">$</span><span id="js-display-decimald" class="dollercls">0</span> to <span class="dollercls">$250</span></p></div>

<div class="slider-wrapper" style="width: 255px;">
 
    <b class="dollersign">$0</b>
    <input type="text" style="display: none;" value="$" class="js-decimal"><span class="range-bar"><span class="range-handle" style="left: 0px;"></span><span class="range-min"></span><span class="range-max">$250</span><span class="range-quantity" style="width: 0px;"></span></span>


</div>

<div class="example">

    <div class="price-range2"><p>Distance Range:  <span class="dollercls">0 miles</span> to <span id="js-display-changes" class="dollercls"></span> <span class="dollercls">miles</span></p></div>
    <div class="slider-wrapper2" style="border: 0px solid red; width: 257px; margin: 0px 0px 26px 31px;">
    <input type="text" class="js-check-change" style="display: none;"><span class="range-bar"><span class="range-handle" style="left: 0px;"></span><span class="range-min">0m</span><span class="range-max">50m</span><span class="range-quantity" style="width: 0px;"></span></span>
    </div>

 </div>

<div class="rating-div"> 

 <div class="rating-txt"><b>Ratings</b></div>
<div class="main-images-star">
<div class="norating">

 
<img src="img/no_rating_txt.png">
</div>

<div class="first-star1"><img src="img/first_img.png">
</div>

<div class="first-star2"><img src="img/second_img.png">
</div>

<div class="first-star3"><img src="img/third_img1.png">
</div>


<div class="first-star4"><img src="img/fourth_img.png">
</div>

<div class="first-star5"><img src="img/fifth_img.png">
</div>
</div>

   </div>
</div>


<div class="gender-div">
<div class="gendr-div-main">
<b class="gender-txt">Gender</b>
</div>
<div class="male">
  <input type="radio" value="male" name="gender"><label>Male</label>
  </div>
  <div class="female">
    <input type="radio" value="female" name="gender"><label>Female</label>
    </div>
</div>
<div class="language-div"><b id="languages-id">Languages</b>
<div class="language-icon"><img src="img/disclose-arrow.png"></div> </div>
  <div class="likefilter"></div>
  </form>
 
 
  
</div>
  <script src="powerange.min.js"></script>
 
 


<style type="text/css">
  
  body {
    background: #ffffff none repeat scroll 0 0;
    margin: 0;
}

 

.bmd-results-wrapper {
 
    padding: 0px;
  
}
</style>   
      
           
    </div>
   

 



    </div>
    
    <div ng-hide="noSessionStatus" id="cate-slide" class="categories-div-left" style="display: none;">

<div id="image-workout" class="image-workout-div">
    <label>Workout</label>
    <span>
   <img src="img/dropdown.png">
    </span>
    </div>

    <div class="checkboxd-div1">
    <label>Yoga</label>
    <span>
    <input type="checkbox" value="Yoga" name="first categiesw" class="input01">
    </span>
    </div>

      <div class="checkboxd-div2">
      <label>Pilates</label>
      <span>
      <input type="checkbox" value="Pilates" name="second categiesw" class="input02">
      </span>
      </div>

  <div class="checkboxd-div3">
      <label>Kickboxing</label>
      <span>
      <input type="checkbox" value="Kickboxing" name="second categiesw" class="input03">
      </span>
      </div>


        <div class="checkboxd-div4">
      <label>Weightlifting</label>
      <span>
      <input type="checkbox" value="Weightlifting" name="second categiesw" class="input04">
      </span>
      </div>


        <div class="checkboxd-div5">
      <label>Personal Traning</label>
      <span>
      <input type="checkbox" value="Personal Traning" name="second categiesw" class="input05">
      </span>
      </div>


        <div class="checkboxd-div6">
      <label>Rehabilitation</label>
      <span>
      <input type="checkbox" value="Rehabilitation" name="second categiesw" class="input06">
      </span>
      </div>

        <div class="checkboxd-div7">
      <label>Weight Loss</label>
      <span>
      <input type="checkbox" value="Weight Loss" name="second categiesw" class="input07">
      </span>
      </div>

          <div class="checkboxd-div8">
      <label>crossfit</label>
      <span>
      <input type="checkbox" value="crossfit" name="crossfit" class="input08">
      </span>
      </div>


      


    </div>

     </div>
	</ion-content>

</ion-view>
    


