 
<ion-view class="bar-stableb bg-color-white">
 
	<ion-header-bar class="bar-stableb bg-color-white">
		<button menu-toggle="left" class="common-button button button-positive button-clear button_text icon ion-navicon txt-color-black"></button>
		<div class="bmd-head"><img src="img/bmd-logo.png"></div>
		<button class="common-button button button-positive button-clear button_text icon ion-android-more-vertical txt-color-black"></button>
	</ion-header-bar>
 
	<ion-content class="padding theme-bg" >
		<div class="bmd-search-bar-outer">
		 
			<!-- <button class="button button-positive button-clear button_text icon ion-ios-mic txt-color-gray"></button> -->
		</div>
		 


		    <div class="main-containerlog">
      <div class="containerlog">
          <div class="content-toplog">
             
              <div class="image-contentlog">
                  <img src="img/lets_start_img.png">
              </div>
              <div class="content-headinglog">
                  <h1> WORKOUT </h1>
              </div>
              <div class="content-pehralog">
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text.  </p>
              </div>
              <div  class="radiolog">
<input type="radio" name="r" class="radio-buttonlog" id="r1" checked><label for="r1" ></label>
<input type="radio" name="r" class="radio-buttonlog" id="r2"><label for="r2"></label>
<input type="radio" name="r" class="radio-buttonlog" id="r3"><label for="r3"></label>



                   <!--  <input class="radio-buttonlog" type="radio" name="radio" checked>
                    <input class="radio-buttonlog" type="radio" name="radio">
                    <input class="radio-buttonlog" type="radio" name="radio"> -->
              </div>
          </div>
      </div>
            
      <div class="footerlog">
                   <ion-item class="bmd-spcl-listing item" ng-show="noSessionStatus" ng-click="login_two()" menu-close="">
           <h1> Let's Start </h1>

        </ion-item>
      </div>
    
    </div>
 
	</ion-content>

</ion-view>
    


