
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


 <link href="css/powerange.css" rel="stylesheet">


 



     <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script type="text/javascript" src="js/ngstorage.js"></script>
    <!-- your app's js -->
    <script src="js/config.js"></script>


    <script src="js/powerange.min.js"></script>


    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/network.js"></script>

    <script src="js/facebookConnectPlugin.js"></script>
<ion-modal-view  class="sign_form">
  <ion-header-bar>
  <button ng-click="closelogin_two()" class="common-button button button-positive button-clear button_text ion-chevron-leftd txt-color-black" style='background-image: url("img/left_arrow.png");'></button>
<!--     <div class="bmd-spclity-head">LogIn</div> -->
  </ion-header-bar>
  <ion-content  class="theme-bg">
<!--     <div class="bmd-title-logo">
      <img src="img/bmd-signinlogo.png">
    </div> -->
 

  <div class="login-viewflog">

 

  <div class="head-img-txtflog">
      <img src="img/login_page.png">
      <p class="word-outflog">WORKOUT</p>

  </div>


  <div class="login-introflog"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p></div>


<div class="login-btnflog">
<button   class="bmd-main-btn2flog" ng-click="login()" >  LOGIN </button>
</div>

<div class="login-btn-facebookflog">
<button  ng-click="fblogin();"  class="bmd-main-btn2flog"><b class="log-with-txt">LOGIN WITH </b><b class="facebk-txtflog" >facebook</b></button>
</div>

<div class="dont-have-accountflog"><b style="padding-top:5px;">Don't have an account? <b ng-click="signup_d()"><a href="signup2.html">SIGN UP</a></b></b></div>


 


  </div>
<!--     <button class="bmd-main-btn" ng-click="submitted=false; join()">Join now</button> -->
 
  </ion-content>
</ion-modal-view>
