<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
 
      <ion-nav-buttons side="left">

        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    <div class="top-croselog">
                  <a href="#"> <i class="fa fa-times" aria-hidden="true"></i> </a>
              </div>
      </ion-nav-buttons>
   
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
    
  </ion-side-menu-content>

  <ion-side-menu side="left">
   
    <div class="head-img-txtflogd">
      <img src="img/login_page4.png">
      <p class="word-outflog">WORKOUT</p>

  </div>

    <ion-content class="bmd-spcl-theme">
      <ion-list class="list">
<ion-item menu-close ng-click="commingsoon()" ng-show="noSessionStatus" class="bmd-spcl-listing">
         SEARCH TRAINERS
        </ion-item>

        <ion-item menu-close ng-click="commingsoon()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          MY PROFILE
        </ion-item>
        <ion-item menu-close ng-click="commingsoon()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          MY FAVORITES
        </ion-item>
        <ion-item menu-close ng-click="commingsoon()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          MY BOOKING
        </ion-item>


          <ion-item menu-close ng-click="commingsoon()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          SETTING
        </ion-item>


        <ion-item menu-close href="#/app/bmd-home" class="bmd-spcl-listing">
          Home
        </ion-item>
        <!-- <ion-item menu-close ng-click="loginw()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Login
        </ion-item> -->


 <ion-item menu-close ng-click="fblogin()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Facebook login
        </ion-item>


        <ion-item menu-close ng-click="signup()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Sign Up
        </ion-item>

<a href="signup2.html">
          Sign Up
      </a>
        <!-- <ion-item menu-close ng-click="reset()" ng-show="noSessionStatus" class="bmd-spcl-listing">
          Reset Password
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/my_booking" ng-show="userSessionStatus" class="bmd-spcl-listing">
          My Booking
        </ion-item> -->
        <ion-item menu-close ng-click="my_booking()" ng-show="userSessionStatus" class="bmd-spcl-listing" >
          My Booking
        </ion-item>
        <ion-item menu-close ng-click="Logout()" ng-show="userSessionStatus" class="bmd-spcl-listing">
          Logout
        </ion-item>
        <!-- <ion-item menu-close href="#/app/test"  class="bmd-spcl-listing">
          My Booking
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
